*.swf filter=lfs diff=lfs merge=lfs -text
*.mp3 filter=lfs diff=lfs merge=lfs -text
*.wav filter=lfs diff=lfs merge=lfs -text
*.ogg filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.webm filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
hv_rp.sql filter=lfs diff=lfs merge=lfs -text
RDP[[:space:]]EMU[[:space:]]header[[:space:]]change.rar filter=lfs diff=lfs merge=lfs -text
WebPixel.rar filter=lfs diff=lfs merge=lfs -text
RDP[[:space:]]EMU[[:space:]]header[[:space:]]change/bin/x64/ClientNormal/libgrpc_csharp_ext.x64.so filter=lfs diff=lfs merge=lfs -text
RDP[[:space:]]EMU[[:space:]]header[[:space:]]change/bin/x64/PlusEmulator_ShockEdition/libgrpc_csharp_ext.x64.so filter=lfs diff=lfs merge=lfs -text
RDP[[:space:]]EMU[[:space:]]header[[:space:]]change/bin/x64/PlusEmulator_ShockEdition/Logs/criticalexceptions.txt filter=lfs diff=lfs merge=lfs -text
RDP[[:space:]]EMU[[:space:]]header[[:space:]]change/obj/bin/x64/ClientNormal/libgrpc_csharp_ext.x64.so filter=lfs diff=lfs merge=lfs -text
RDP[[:space:]]EMU[[:space:]]header[[:space:]]change/obj/bin/x64/PlusEmulator_ShockEdition/libgrpc_csharp_ext.x64.so filter=lfs diff=lfs merge=lfs -text
RDP[[:space:]]EMU[[:space:]]header[[:space:]]change/obj/packages/Grpc.Core.2.30.0/Grpc.Core.2.30.0.nupkg filter=lfs diff=lfs merge=lfs -text
RDP[[:space:]]EMU[[:space:]]header[[:space:]]change/obj/packages/Grpc.Core.2.30.0/native/android/arm64-v8a/libgrpc_csharp_ext.so filter=lfs diff=lfs merge=lfs -text
RDP[[:space:]]EMU[[:space:]]header[[:space:]]change/obj/packages/Grpc.Core.2.30.0/native/android/armeabi-v7a/libgrpc_csharp_ext.so filter=lfs diff=lfs merge=lfs -text
RDP[[:space:]]EMU[[:space:]]header[[:space:]]change/obj/packages/Grpc.Core.2.30.0/native/android/x86/libgrpc_csharp_ext.so filter=lfs diff=lfs merge=lfs -text
RDP[[:space:]]EMU[[:space:]]header[[:space:]]change/obj/packages/Grpc.Core.2.30.0/native/ios/universal/libgrpc.a filter=lfs diff=lfs merge=lfs -text
RDP[[:space:]]EMU[[:space:]]header[[:space:]]change/obj/packages/Grpc.Core.2.30.0/runtimes/linux/native/libgrpc_csharp_ext.x64.so filter=lfs diff=lfs merge=lfs -text
RDP[[:space:]]EMU[[:space:]]header[[:space:]]change/packages/Grpc.Core.2.30.0/Grpc.Core.2.30.0.nupkg filter=lfs diff=lfs merge=lfs -text
RDP[[:space:]]EMU[[:space:]]header[[:space:]]change/packages/Grpc.Core.2.30.0/native/android/arm64-v8a/libgrpc_csharp_ext.so filter=lfs diff=lfs merge=lfs -text
RDP[[:space:]]EMU[[:space:]]header[[:space:]]change/packages/Grpc.Core.2.30.0/native/android/armeabi-v7a/libgrpc_csharp_ext.so filter=lfs diff=lfs merge=lfs -text
RDP[[:space:]]EMU[[:space:]]header[[:space:]]change/packages/Grpc.Core.2.30.0/native/android/x86/libgrpc_csharp_ext.so filter=lfs diff=lfs merge=lfs -text
RDP[[:space:]]EMU[[:space:]]header[[:space:]]change/packages/Grpc.Core.2.30.0/native/ios/universal/libgrpc.a filter=lfs diff=lfs merge=lfs -text
RDP[[:space:]]EMU[[:space:]]header[[:space:]]change/packages/Grpc.Core.2.30.0/runtimes/linux/native/libgrpc_csharp_ext.x64.so filter=lfs diff=lfs merge=lfs -text
swf_pz/V5-0-2/MPU/pz/mapa.psd filter=lfs diff=lfs merge=lfs -text
swf_pz/V5-0-2/MPU/pz_v2/mapa.psd filter=lfs diff=lfs merge=lfs -text
swf_pz/V5-0-2/MPU/pz_v2/mapatest.psd filter=lfs diff=lfs merge=lfs -text
WavePlus/waveplus.sql filter=lfs diff=lfs merge=lfs -text
