<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpProtocol>
         <customHeaders>
           <add name="Access-Control-Allow-Credentials" value="true" />
           <add name="Access-Control-Allow-Origin" value="*" />
         </customHeaders>
        </httpProtocol>
        <httpErrors errorMode="Custom" defaultResponseMode="File" >
                 <remove statusCode="404" />
                 <remove statusCode="500" />
                 <error statusCode="404" path="error.html" />
                 <error statusCode="500" path="error.html" />
               </httpErrors>
        <rewrite>
            <rules>
                <rule name="Regla 1 importada" stopProcessing="true">
                    <match url="^index$" />
                    <action type="Rewrite" url="index.php" />
                </rule>
                <rule name="Regla 2 importada" stopProcessing="true">
                    <match url="^index/$" />
                    <action type="Rewrite" url="index.php" />
                </rule>
                <rule name="Regla 3 importada">
                    <match url="^profile/(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="/profile?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 4 importada">
                    <match url="^corporation/(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="/corporation?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Regla 5 importada">
                    <match url="^gangs/leaderboard/" ignoreCase="false" />
                    <action type="Rewrite" url="/gangs_leaderboard" appendQueryString="false" />
                </rule>
                <rule name="Regla 6 importada">
                    <match url="^gangs/leaderboard" ignoreCase="false" />
                    <action type="Rewrite" url="/gangs_leaderboard" appendQueryString="false" />
                </rule>
                <rule name="Regla 7 importada">
                    <match url="^gang/(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="/gang?gang_id={R:1}" appendQueryString="false" />
                </rule>
				<rule name="Regla 8 importada">
					<match url="^store/checkout" ignoreCase="false" />
					<action type="Rewrite" url="/store" appendQueryString="false" />
				</rule>
                <rule name="Regla 9 importada" stopProcessing="true">
                    <match url="^(.*)$" />
                    <conditions logicalGrouping="MatchAll">
                      <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                      <add input="{REQUEST_FILENAME}.php" matchType="IsFile" ignoreCase="false" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}.php" />
               </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>