<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Imported Rule 1">
                    <match url="^habbo-imaging/badge/none" ignoreCase="false" />
                    <action type="Rewrite" url="habbo-imaging/corp/none.gif" />
                </rule>
                <rule name="Imported Rule 2">
                    <match url="^habbo-imaging/badge/hospital" ignoreCase="false" />
                    <action type="Rewrite" url="habbo-imaging/corp/hospital.gif" />
                </rule>
                <rule name="Imported Rule 3">
                    <match url="^habbo-imaging/badge/police" ignoreCase="false" />
                    <action type="Rewrite" url="habbo-imaging/corp/police.gif" />
                </rule>
                <rule name="Imported Rule 4">
                    <match url="^habbo-imaging/badge/phone" ignoreCase="false" />
                    <action type="Rewrite" url="habbo-imaging/corp/phone.gif" />
                </rule>
                <rule name="Imported Rule 5">
                    <match url="^habbo-imaging/badge/gun" ignoreCase="false" />
                    <action type="Rewrite" url="habbo-imaging/corp/gun.gif" />
                </rule>
                <rule name="Imported Rule 6">
                    <match url="^habbo-imaging/badge/cafe" ignoreCase="false" />
                    <action type="Rewrite" url="habbo-imaging/corp/cafe.gif" />
                </rule>
                <rule name="Imported Rule 7">
                    <match url="^habbo-imaging/badge/clothing" ignoreCase="false" />
                    <action type="Rewrite" url="habbo-imaging/corp/clothing.gif" />
                </rule>
                <rule name="Imported Rule 8">
                    <match url="^habbo-imaging/badge/bank" ignoreCase="false" />
                    <action type="Rewrite" url="habbo-imaging/corp/bank.gif" />
                </rule>
                <rule name="Imported Rule 9">
                    <match url="^habbo-imaging/badge/restaurant" ignoreCase="false" />
                    <action type="Rewrite" url="habbo-imaging/corp/restaurant.gif" />
                </rule>
                <rule name="Imported Rule 10">
                    <match url="^habbo-imaging/badge/car" ignoreCase="false" />
                    <action type="Rewrite" url="habbo-imaging/corp/car.gif" />
                </rule>
				<rule name="Imported Rule 41">
                    <match url="^habbo-imaging/badge/farming" ignoreCase="false" />
                    <action type="Rewrite" url="habbo-imaging/corp/farming.gif" />
                </rule>
				<rule name="Imported Rule 42">
                    <match url="^habbo-imaging/badge/supermarket" ignoreCase="false" />
                    <action type="Rewrite" url="habbo-imaging/corp/supermarket.gif" />
                </rule>
				<rule name="Imported Rule 43">
                    <match url="^habbo-imaging/badge/trash" ignoreCase="false" />
                    <action type="Rewrite" url="habbo-imaging/corp/trash.gif" />
                </rule>
				<rule name="Imported Rule 44">
                    <match url="^habbo-imaging/badge/mec" ignoreCase="false" />
                    <action type="Rewrite" url="habbo-imaging/corp/mec.gif" />
                </rule>
				<rule name="Imported Rule 45">
                    <match url="^habbo-imaging/badge/taxi" ignoreCase="false" />
                    <action type="Rewrite" url="habbo-imaging/corp/taxi.gif" />
                </rule>
				<rule name="Imported Rule 46">
                    <match url="^habbo-imaging/badge/truck" ignoreCase="false" />
                    <action type="Rewrite" url="habbo-imaging/corp/truck.gif" />
                </rule>
				<rule name="Imported Rule 47">
                    <match url="^habbo-imaging/badge/ward" ignoreCase="false" />
                    <action type="Rewrite" url="habbo-imaging/corp/ward.gif" />
                </rule>
				<rule name="Imported Rule 48">
                    <match url="^habbo-imaging/badge/miner" ignoreCase="false" />
                    <action type="Rewrite" url="habbo-imaging/corp/miner.gif" />
                </rule>
                <rule name="Imported Rule 49">
                    <match url="^habbo-imaging/badge/police" ignoreCase="false" />
                    <action type="Rewrite" url="habbo-imaging/corp/police.gif" />
                </rule>
                <rule name="Imported Rule 50">
                    <match url="^habbo-imaging/badge/mcdonalds" ignoreCase="false" />
                    <action type="Rewrite" url="habbo-imaging/corp/mcdonalds.gif" />
                </rule>
                <rule name="Imported Rule 51">
                    <match url="^habbo-imaging/badge/whitehouse" ignoreCase="false" />
                    <action type="Rewrite" url="habbo-imaging/corp/whitehouse.gif" />
                </rule>
                <rule name="Imported Rule 52">
                    <match url="^habbo-imaging/badge/devilluminati" ignoreCase="false" />
                    <action type="Rewrite" url="habbo-imaging/corp/devilluminati.gif" />
                </rule>
                <rule name="Imported Rule 53">
                    <match url="^habbo-imaging/badge/subway" ignoreCase="false" />
                    <action type="Rewrite" url="habbo-imaging/corp/subway.gif" />
                </rule>
                <rule name="Imported Rule 54">
                    <match url="^habbo-imaging/badge/heladeria" ignoreCase="false" />
                    <action type="Rewrite" url="habbo-imaging/corp/heladeria.gif" />
                </rule>
                <rule name="Imported Rule 55">
                    <match url="^habbo-imaging/badge/bubble" ignoreCase="false" />
                    <action type="Rewrite" url="habbo-imaging/corp/bubble.gif" />
                </rule>
                <rule name="Imported Rule 11">
                    <match url="^habbo-imaging/badge/([^/]+)" ignoreCase="false" />
                    <action type="Rewrite" url="habbo-imaging/gang/{R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 12">
                    <match url="^habbo-imaging/avatar/([^/]+)" ignoreCase="false" />
                    <action type="Rewrite" url="habbo-imaging/avatarimage.php?figure={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 13">
                    <match url="^habbo-imaging/avatarimage/([^/]+)" ignoreCase="false" />
                    <action type="Rewrite" url="habbo-imaging/avatarimage.php?username={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 14">
                    <match url="^habbo-imaging/head/([^/]+)" ignoreCase="false" />
                    <action type="Rewrite" url="habbo-imaging/head.php?figure={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 15">
                    <match url="^gamedata/habbopages/chat/commands" ignoreCase="false" />
                    <action type="Rewrite" url="gamedata/habbopages/chat/commands.txt" />
                </rule>
                <rule name="Imported Rule 16">
                    <match url="^gamedata/habbopages/chat/options" ignoreCase="false" />
                    <action type="Rewrite" url="gamedata/habbopages/chat/options.txt" />
                </rule>
                <rule name="Imported Rule 17">
                    <match url="^gamedata/habbopages/forums" ignoreCase="false" />
                    <action type="Rewrite" url="gamedata/habbopages/forums.txt" />
                </rule>
                <rule name="Imported Rule 18">
                    <match url="^gamedata/habbopages/([0-9a-zA-Z]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="gamedata/habbopages/{R:1}.txt" />
                </rule>
                <rule name="Imported Rule 19">
                    <match url="^gamedata/supersecret" ignoreCase="false" />
                    <action type="Rewrite" url="gamedata/supersecret.php" />
                </rule>
                <rule name="Imported Rule 20">
                    <match url="^gamedata/external_variables" ignoreCase="false" />
                    <action type="Rewrite" url="gamedata/external_variables.txt" />
                </rule>
                <rule name="Imported Rule 21">
                    <match url="^gamedata/external_flash_texts_en" ignoreCase="false" />
                    <action type="Rewrite" url="gamedata/external_flash_texts_en.txt" />
                </rule>
                <rule name="Imported Rule 22">
                    <match url="^gamedata/override/external_flash_override_texts" ignoreCase="false" />
                    <action type="Rewrite" url="gamedata/override/external_flash_override_texts.txt" />
                </rule>
                <rule name="Imported Rule 23">
                    <match url="^gamedata/override/external_override_variables" ignoreCase="false" />
                    <action type="Rewrite" url="gamedata/override/external_override_variables.txt" />
                </rule>
                <rule name="Imported Rule 24">
                    <match url="^gamedata/figuredata" ignoreCase="false" />
                    <action type="Rewrite" url="gamedata/figuredata.xml" />
                </rule>
                <rule name="Imported Rule 25">
                    <match url="^gamedata/productdata" ignoreCase="false" />
                    <action type="Rewrite" url="gamedata/productdata.txt" />
                </rule>
                <rule name="Imported Rule 26">
                    <match url="^gamedata/furnidata_xml" ignoreCase="false" />
                    <action type="Rewrite" url="gamedata/furnidata.xml" />
                </rule>
                <rule name="Imported Rule 27">
                    <match url="^api/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="api.php?request={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 28">
                    <match url="^api/room/([0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="api.php?request=room&amp;room_id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 29">
                    <match url="^api/group/([0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="api.php?request=group&amp;group_id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 30">
                    <match url="^api/user/([a-zA-Z]+)/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="api.php?request=user&amp;search_type={R:1}&amp;value={R:2}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 31">
                    <match url="^api/users/([0-9]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="api.php?request=users&amp;amount={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 32">
                    <match url="^c_images/notifications/avatarimage_([a-zA-Z0-9_-]+).png(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="c_images/notifications/imager.php?username={R:1}" appendQueryString="false" />
                </rule>
				<rule name="Imported Rule 33">
                    <match url="^gamedata/external_flash_texts_de" ignoreCase="false" />
                    <action type="Rewrite" url="gamedata/external_flash_texts_de.txt" />
                </rule>
				<rule name="Imported Rule 34">
                    <match url="^gamedata/external_flash_texts_es" ignoreCase="false" />
                    <action type="Rewrite" url="gamedata/external_flash_texts_es.txt" />
                </rule>
				<rule name="Imported Rule 35">
                    <match url="^gamedata/external_flash_texts_fi" ignoreCase="false" />
                    <action type="Rewrite" url="gamedata/external_flash_texts_fi.txt" />
                </rule>
				<rule name="Imported Rule 36">
                    <match url="^gamedata/external_flash_texts_fr" ignoreCase="false" />
                    <action type="Rewrite" url="gamedata/external_flash_texts_fr.txt" />
                </rule>
				<rule name="Imported Rule 37">
                    <match url="^gamedata/external_flash_texts_it" ignoreCase="false" />
                    <action type="Rewrite" url="gamedata/external_flash_texts_it.txt" />
                </rule>
				<rule name="Imported Rule 38">
                    <match url="^gamedata/external_flash_texts_nl" ignoreCase="false" />
                    <action type="Rewrite" url="gamedata/external_flash_texts_nl.txt" />
                </rule>
				<rule name="Imported Rule 39">
                    <match url="^gamedata/external_flash_texts_pt" ignoreCase="false" />
                    <action type="Rewrite" url="gamedata/external_flash_texts_pt.txt" />
                </rule>
				<rule name="Imported Rule 40">
                    <match url="^gamedata/external_flash_texts_tr" ignoreCase="false" />
                    <action type="Rewrite" url="gamedata/external_flash_texts_tr.txt" />
                </rule>
            </rules>
        </rewrite>
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="*" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
