<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
                <rewrite>
            <rules>
                <rule name="group-badge">
                    <match url="^group-badge/badge/([^/]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="/group-badge/badge.php?badge={R:1}" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
        <staticContent>
            <remove fileExtension=".nitro" />
            <mimeMap fileExtension=".nitro" mimeType="application/octet-stream" />
        </staticContent>
    </system.webServer>
</configuration>
