db.hostname=127.0.0.1
db.port=3306
db.database=waveplus
db.username=root
db.password=
db.params=?useUnicode=true&characterEncoding=utf8&useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
db.pool.maxsize=50
db.pool.minsize=10

game.host=127.0.0.1
game.port=30000
rcon.host=127.0.0.1
rcon.port=30001
rcon.allowed=127.0.0.1

runtime.threads=16
console.mode=false
debug.mode=false
logging.errors.runtime=true
enc.enabled=false
enc.e=
enc.n=
enc.d=
